<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <ul class="navbar-nav mr-auto">
          <li class="nav-item">
              <a class = "nav-link" routerLink = "">Logo</a>
          </li>
          <li class="nav-item active">
              <a class = "nav-link" routerLink = "">Home</a>
          </li>
          <li class="nav-item">
              <a class = "nav-link" routerLink = "">Properties</a>
          </li>
          <li class="nav-item">
              <a class = "nav-link" routerLink = "">About Us</a>
          </li>
      </ul>
  </div>
  <div class="mx-auto order-0">
      <a class="navbar-brand mx-auto" href="#">MG Rentals</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
          <span class="navbar-toggler-icon"></span>
      </button>
  </div>
  <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ml-auto">
          <li class="nav-item" >
              <a class="nav-link" style="color: #2b83c6" href= "login" data-toggle="modal" data-target="/login">Resident Sign In</a>
          </li>
          <li class="nav-item">
              <a class="nav-link" style="color: #59dba3" routerLink = "/login">Manager Sign In</a>
          </li>
      </ul>
  </div>
</nav>