<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">MG Group</a>
 
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">

      <ul class="nav navbar-nav">
        <a class="nav-item nav-link active" href="/">Home <span class="sr-only">(current)</span></a>
        <a class="nav-item nav-link" href="#">Properties</a>
        <a class="nav-item nav-link" href="#">About Us</a>
      </ul>

      <ul class="navbar-nav">
        <a class="nav-item nav-link" href="#">Log In</a>
      </ul>
      
    </div>
  </div>
</nav>